
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="add-item d-flex">
                <div class="page-title">
                    <h4 class="fw-bold">ProductCategory List</h4>
                    <h6>Manage your products Category</h6>
                </div>
            </div>

            <div class="page-btn">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal"><i
                        class="ti ti-circle-plus me-1"></i>Add Product Category</a>
            </div>

        </div>
        <div class="card">

        <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
            <!-- <div class="search-set"> -->
                   <!-- Search Box -->
          <form class="flex items-center gap-2 px-3 py-1 text-sm font-medium text-gray-500 border-2 border-solid border-zinc-100 rounded-full w-full max-w-[300px] md:max-w-none"
          role="search">
          <!-- <label for="searchInput" class="sr-only">Search bookings</label> -->
         
          <input type="text" id="searchBox" class="bg-transparent border-none outline-none flex-1 w-full"
            placeholder="Search here" aria-label="Search bookings" (keyup)="onSearch($event)" autocomplete="off" />
        </form>
            <!-- </div> -->
            <!-- <div class="d-flex table-dropdown my-xl-auto right-content align-items-center flex-wrap row-gap-3">
                <div class="dropdown me-2">
                    <a href="javascript:void(0);"
                        class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center"
                        data-bs-toggle="dropdown">
                        Category
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Computers</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Electronics</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Shoe</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Electronics</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a href="javascript:void(0);"
                        class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center"
                        data-bs-toggle="dropdown">
                        Brand
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end p-3">
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Lenovo</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Beats</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Nike</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Apple</a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table datatable">
                    <thead class="thead-light">
                        <tr class="text-center">

                            <th>CategoryID </th>
                            <th>CategoryName</th>
                            <th>Description</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let productCategory of getPaginatedData()">

                            <td>{{ productCategory.CategoryID }} </td>
                            <td>

                                {{ productCategory.CategoryName }}

                            </td>
                            <td>{{ productCategory.Description || '-' }}</td>
                         

                            <td class="d-flex gap-2 align-items-center justify-content-center">
                                <a class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#addProductModal" (click)="editProduct(productCategory)">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i> Delete
                                </button>
                            </td>



                        </tr>

                    </tbody>
    
                </table>
   
                             <!-- Pagination -->
             <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
  
                <!-- Previous Button -->
                <button (click)="prevPage()" [disabled]="currentPage === 1"
                  class="btn   btn-sm" aria-label="Previous">
                  <i class="fas fa-chevron-left"></i> Previous
                </button>
              
                <!-- Page Info -->
                <span class="fw-semibold text-muted">Page {{ currentPage }} of {{ totalPages }}</span>
              
                <!-- Next Button -->
                <button (click)="nextPage()" [disabled]="currentPage === totalPages"
                  class="btn  btn-sm" aria-label="Next">
                  Next <i class="fas fa-chevron-right"></i>
                </button>
              
              </div>
            </div>
            
        </div>
        </div>
    </div>
</div>




<!-- Bootstrap Modal -->
<div  class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add Product Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add your form or content here -->
                <form [formGroup]="Productcategory" class="add-product-form">
                    <div class="add-product">
                        <div class="accordions-items-seperate" id="accordionSpacingExample">
                            <div class="mb-4">
                                <!-- <h2 class="accordion-header" id="headingSpacingOne"> -->
                                    <!-- <div class="accordion-button collapsed bg-white" data-bs-toggle="collapse" data-bs-target="#SpacingOne" aria-expanded="true" aria-controls="SpacingOne"> -->
                                        <!-- <div class="d-flex align-items-center justify-content-between flex-fill">
                                        <h5 class="d-flex align-items-center"><i data-feather="info" class="text-primary me-2"></i><span>Product Information</span></h5>
                                        </div> -->
                                    <!-- </div> -->
                                <!-- </h2> -->
                                <!-- <div id="SpacingOne" class="accordion-collapse collapse show" aria-labelledby="headingSpacingOne"> -->
                                    <div class="accordion-body ">
                                            <div class=" col-12">
                                                <div class="mb-3">
                                                    <label class="form-label">Category Name<span class="text-danger ms-1">*</span></label>
                                                    <input type="text" class="form-control" formControlName="CategoryName">
                                                </div>

                                                <div
                                                *ngIf="
                                                  Productcategory.get('CategoryName')?.invalid &&
                                                  Productcategory.get('CategoryName')?.touched
                                                "
                                                class="text-danger text-sm"
                                              >
                                              Category Name is required.
                                              </div>
                                            </div>
                                            <div class=" col-12 ">
                                                <div class="mb-3">
                                                    <label class="form-label"> Description<span class="text-danger ms-1"></span></label>
                                                    <textarea type="text" class="form-control" formControlName="Description"></textarea>
                                                </div>
                              
                                            </div>
   
                                    <!-- </div> -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex align-items-center justify-content-end mb-4">
                            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary me-2" (click)="Resetform()">Cancel</button>
                            <button type="submit" class="btn btn-primary" (click)="category()">Add Category</button>
                        </div>
                    </div>
                </form>
                        </div>
        
        </div>
    </div>
</div>
