<!-- <a id="toggle_btn" (click)="toggleSidebar()">
    <i data-feather="chevrons-left" class="feather-16"></i>
</a> -->
<!-- Sidebar -->
<!-- Sidebar -->
 <div class="heaer">
<app-header></app-header>
</div>
<div class="sidebar d-none d-md-block" id="sidebar">
    <!-- Logo -->
    <div class="sidebar-logo">
        <a href="index.html" class="logo logo-normal">
            <img src="assets/img/ssquarelogo.png" alt="Img" class="logo-img">
        </a>
        <a href="index.html" class="logo logo-small">
            <img src="assets/img/ssquarelogo.png" alt="Img" class="logo-img-small">
        </a>
        <a id="toggle_btn" (click)="toggleSidebar()">
            <i data-feather="chevrons-left" class="feather-16"></i>
        </a> 
        <!-- <a href="index.html" class="logo logo-white">
            <img src="assets/img/logo-white.svg" alt="Img">
        </a>
        <a href="index.html" class="logo-small">
            <img src="assets/img/logo-small.png" alt="Img">
        </a>
     -->
    </div>
    <!-- /Logo -->

    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul class="list-unstyled">
                <li class="submenu-open">
                    <h6 class="submenu-hdr text-uppercase p-2">Inventory</h6>
                    <ul class="list-unstyled ps-3">
                        <li>
                            <a routerLink="Product" routerLinkActive="active-link" class="d-flex align-items-center p-2">
                                <i class="ti ti-table-plus fs-16 me-2"></i><span>Create Product</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="Category" routerLinkActive="active-link" class="mt-2 d-flex align-items-center p-2">
                                <i class="ti ti-list-details fs-16 me-2"></i><span>Category</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="SaleDetails" routerLinkActive="active-link" class="mt-2 d-flex align-items-center p-2">
                                <i class="ti ti-list-details fs-16 me-2"></i><span>Sales</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="LowStock" routerLinkActive="active-link" class="mt-2 d-flex align-items-center p-2">
                                <i class="ti ti-trending-up-2 fs-16 me-2"></i><span>Low Stock</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->

<!-- /Sidebar -->

<!-- Content -->
<div class="content">
    <router-outlet></router-outlet>
</div>
